/*-------basic-------*/
html::-webkit-scrollbar,div::-webkit-scrollbar{
	width:12px;
	background:none;
}
html::-webkit-scrollbar-button,div::-webkit-scrollbar-button{
	display: none
}
html::-webkit-scrollbar-thumb,div::-webkit-scrollbar-thumb{
	background-color: #333;
}
body{
	font-family: 'Noto Serif SC', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #111
}
body:after {
	content: "";
    background:linear-gradient(#00000044,#00000044),url("./../res/img/333plus4.svg")center no-repeat,#111;
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100vh; 
    width: 100%; 
    -webkit-background-size: 60% !important; 
    -moz-background-size: 60% !important;
    background-size: 60% !important; 
    z-index: -1;
}
.flex{
	display: flex;
	-webkit-display: flex;
	width: 100%;
	color:#fff;
}
.map{
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background:url("./../res/img/map.svg") center no-repeat,linear-gradient(#00000066,#00000066);
	background-size:60%;
	height: 100%;
	filter: brightness(1.3);
}
@media(max-width:1200px){
	.map,body{
		background-size:70%
	}
}
@media(max-width:992px){
	.map,body{
		background-size:80%
	}
}
@media(max-width:768px){
	.map,body{
		background-size:90%
	}
}

.stats{
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background:linear-gradient(#00000066,#00000088,#0000009e,#000000aa,#000000aa,#000000aa); 
}
.cities,.provinces{
	align-items: center;	
	justify-content: flex-start;
	background:#000000aa; 
}
/*-------text-------*/
@media(max-width: 576px){
	.display-4{
		font-size: 2rem;
	}
	h1{
		font-size: 1.7rem;
	}
}
.underline{
	padding-bottom: 0.01em;
	border-bottom: 1px solid;
	border-color: inherit;
}
.red{
	color: #CD0000
}
.blue{
	color: #117aea
}
.grey{
	color: #888
}
.bolder{
	font-weight: bolder!important;
}
.align-center{
	text-align: center;
}
.nowrap {
    display: inline-block;
    text-decoration: inherit;
    white-space: nowrap;
}
/*-------Components-------*/
.progress{
	border-radius: 2em;
	background-color:transparent;
}
.progress-bar{
	background: #920000!important;
	border-radius: 2em;
	text-align: right;
	padding-right: 0.5em;
}
.jumbotron{
	background:none;
	margin-bottom: 1em;
} 